.modal-create-training {
    width: 100%;

    :global {
        .ant-modal-title {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .ant-modal-body {
            min-height: 50px;
        }

        .ant-modal-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
