.sider {
    width: 208px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 0.3s;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
    z-index: 2;

    :global {

        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;
            position: relative;
        }


        .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
            background-color: unset;
        }

        .ant-menu-item:not(:last-child) {
            margin-bottom: 14px;
        }

        .ant-menu-item::after {
            border: 0;
        }

        .ant-layout-header {
            padding: 0;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 19px;
        overflow: hidden;
        justify-content: center;

        svg {
            path {
                fill: #061178;
            }
        }
    }

    .logo.collapsed {
        padding: 49px 0px;
        text-align: center;
    }
}

.sider.off {
    width: 64px;

    .logo {
        padding: 44px 0px;
        text-align: center;
    }

    .link-title {
        display: none;
    }

    .sider-nav {
        padding-top: 7px;
    }

    .menu {
        margin-top: 15px;
    }

}

.sider-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    padding-top: 0px;
    overflow: hidden;
}

.logo {
    width: 100%;
    padding: 44px 29px;
    text-align: left;
}

.logo-small {
    display: inline-block;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    overflow: hidden;
    justify-content: center;
}

.menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 18px 16px;
}

.link-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 16px;
    height: 17px;
}

.link-icon svg {
    path {
        fill: #061178;
    }
}

.link-title {
    height: 18px;
    padding-left: 10px;
}

.link-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.logout {
    border-top: 1px solid #F0F0F0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 16px;
    overflow: hidden;
}

.logout a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logout-icon {
    display: flex;
    width: 16px;
    height: 16px;
}

.logout-title {
    height: 18px;
    padding-left: 25px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
}

.switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -20px;
    top: 47%;
    width: 20px;
    height: 66px;
    cursor: pointer;
}

.switcher .trapezoid {
    filter: drop-shadow(3px 0px 2px rgba(0, 0, 0, 0.15));
}

.switcher svg, .switcher-mobile svg {

    path {
        fill: var(--character-light-secondary-45);
    }
}

.switcher-icon {
    position: absolute;
    width: 14px;
    height: 14px;
}

.switcher-mobile {
    display: none;
}

header {
    height: auto;
    background: var(--primary-light-1);
    z-index: 6;

    :global {

        .ant-breadcrumb {
            a {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                color: var(--character-light-title-85);
            }
        }

        .ant-typography, .ant-breadcrumb ol {
            margin: 0;
        }

        .ant-typography {
            font-family: var(--font-family);
            font-weight: bold;
            font-size: 38px;
            line-height: 129%;
            max-width: 1000px;
            transition: font-size 0.3s;
        }

        .ant-breadcrumb {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: var(--character-light-title-85);
        }
    }
}

.header-body {
    display: flex;
    flex-direction: row;
    padding-top: 14px;
    padding-bottom: 5px;
}

.header-title {
    flex: 1;
}

.header-setting {
    //width: 129px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrap-extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wrap-extra a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
}

.main {
    width: 100%;
    //height: 100%;

    :global {
        .ant-typography {
            letter-spacing: -0.05px;
            margin: 0;
            font-weight: 500;
            display: flex;
        }
    }
}

.footer {
    display: flex;
    flex: 1;
    //flex-basis: 364px;
    flex-basis: 283px;
    margin-top: 24px;
    margin-bottom: 17px;

    .footer-container {
        padding: 0 24px 6px;
        width: 100%;
        margin-bottom: 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .left {
            display: flex;
            align-items: center;
            border-radius: 2px;
            padding: 6px 15px;
            width: 171px;
            height: 40px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            text-align: center;
            color: var(--primary-light-6);
        }

        .left a {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            text-align: center;
            color: var(--primary-light-6);
        }

        .right {
            display: flex;
            flex-direction: column;
            border-radius: 2px;
            width: 240px;
            height: 127px;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);
            background: var(--character-light-primary-inverse);

            .top {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 12px 24px;
                width: 240px;
                height: 71px;

                .download-link {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    color: var(--primary-light-6);
                }

                .notification {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                    color: var(--character-light-secondary-45);
                }
            }

            .bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                width: 240px;
                height: 56px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                text-align: center;
                color: var(--character-light-title-85);
                gap: 28px;
                padding-left: 10px;
            }

            .bottom a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 9px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                text-align: center;
                color: var(--character-light-title-85);
            }
        }
    }

}


@media screen and (max-width: 1390px) {

    .main {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        overflow: hidden;
    }

    .menu-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    header {
        :global {
            .ant-typography {
                font-weight: 500;
                font-size: 24px;

            }
        }
    }

    .header-setting {
        .setting-icon {
            display: none;
        }
    }

    .footer {
        flex-basis: 364px;
    }

    .footer.collapsed {
        flex-basis: 489px;
    }
}

@media screen and (max-width: 800px) {

    :global {


    }

    .sider {
        width: 106px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        .logo {
            padding: 13px 0px;
            text-align: center;
        }

        .logo img {
            width: 72px;
            height: 18px;
        }

        .logo-small {
            display: none;
        }

        .menu {
            margin-top: 14px;
        }

        .link-icon {
            display: none;
        }

        .link-title {
            padding-left: 8px;
        }

        .switcher {
            display: none;
        }

        .switcher-mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -32px;
            top: 3%;
            width: 32px;
            height: 48px;
            cursor: pointer;
        }

        .logout-icon {
            display: none;
        }

        .logout-title {
            padding-left: 16px;
        }
    }

    .sider.off {
        width: 1px;
    }

    header {
        z-index: 1;

        .header-body {
            padding-top: 0px;
        }

        .header-title {
            padding-top: 6px;
        }

        .header-setting {
            padding: 0px 0px;

            .setting-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--character-light-border);
                border-radius: 100px;
                padding: 4px 10px;
                width: 32px;
                height: 32px;
                box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
                background: var(--character-light-primary-inverse);
            }

            .setting-title {
                display: none;
            }
        }

        :global {
            .ant-typography {
                font-size: 20px;
            }
        }
    }

    .main {
        margin-top: 0px;
    }

    .footer {
        flex-basis: 0px;
        margin-top: 1px;

        .footer-container {
            padding: 0 16px 6px;
            height: max-content;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
        }

        .footer-container .right, .footer-container .right {
            width: 100%;
        }

        .footer-container {
            .right {
                align-items: center;

                .top {
                    align-items: center
                }

                .bottom {
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 39px 0 33px;
                }
            }
        }


    }

    .footer.collapsed {
        flex-basis: 0px;
    }
}
