
:global {

    .ant-result {
        padding: 0;
    }

    .ant-result-error {
        width: 368px;
        margin: 64px 85.5px;
    }

    .ant-result-500 {
        width: 475px;
        height: 430px;
        margin: 64px 32px 56px;
    }
}

.result-container {
    height: inherit;
}

.result-inner-wrapper {
    height: inherit;
}
