.main-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    width: 100%;
    height: 100%;

    .footer-container {
        width: 100%;
        height: 283px;
        margin-bottom: 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .left {
            display: flex;
            align-items: center;
            border-radius: 2px;
            padding: 6px 15px;
            width: 171px;
            height: 40px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            text-align: center;
            color: var(--primary-light-6);
        }

        .right {
            display: flex;
            flex-direction: column;
            border-radius: 2px;
            width: 240px;
            height: 127px;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);
            background: var(--character-light-primary-inverse);

            .top {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 12px 24px;
                width: 240px;
                height: 71px;

                .download-link {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    color: var(--primary-light-6);
                }

                .notification {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                    color: var(--character-light-secondary-45);
                }
            }

            .bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                width: 240px;
                height: 56px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                text-align: center;
                color: var(--character-light-title-85);
                gap: 28px;
                padding-left: 10px;
            }

            .bottom div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 9px;
            }
        }
    }
}

.description-container {
    max-width: 752px;
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--character-light-primary-inverse);
}

.description-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    color: var(--primary-light-9);
}

.content-container {
    max-width: 752px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.content-text {
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--character-light-primary-inverse);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.card-container {
    grid-row: 2 / span 1; /* Остальные три div находятся во втором ряду */
}

.card {
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--character-light-primary-inverse);
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    //height: 45px;
    padding: 12px 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.card-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 17px 0px;
    color: var(--primary-light-6);
    border-top: 1px solid #F0F0F0;
}

.card-button span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
}

.card-icon {
}

.card-icon {
    svg {
        path {
            fill: #2F54EB;
        }
    }

}

@media screen and (max-width: 1390px) {

    .main-container {

        .footer-container {
            flex-basis: 489px;
        }
    }
}

@media screen and (max-width: 800px) {

    .main-container {
        padding: 16px;
        margin-top: 10px;

        .content-container {
            display: block;
        }

        .description-container {
            padding: 16px;
        }

    }


}

@media screen and (max-width: 550px) {
    .main-container {
        .footer-container {
            height: max-content;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }
}
