.main-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 24px;
}

.description-container {
    max-width: 752px;
    padding: 24px;
    border-radius: 2px;
    box-shadow: var(--box-shadow-2);
    background: var(--character-light-primary-inverse);

    :global {
        .ant-typography {
            padding-right: 25px;
        }
    }
}

.description-text {
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: 16px;
    line-height: 131%;
    color: var(--primary-light-9);
}

.content-container {
    max-width: 752px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    :global {
        h4.ant-typography {
            line-height: 130%;
        }
    }
}

.content-text {
    padding: 24px;
    border-radius: 2px;
    box-shadow: var(--box-shadow-2);
    background: var(--character-light-primary-inverse);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.card-container {
    grid-row: 2 / span 1; /* Остальные три div находятся во втором ряду */
}

.card {
    border-radius: 2px;
    box-shadow: var(--box-shadow-2);
    background: var(--character-light-primary-inverse);
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
}

.card-title a {
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: 16px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.card-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 17px 0px;
    color: var(--primary-light-6);
    border-top: 1px solid #f0f0f0;
}

.card-button a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-button span {
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-14);
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
}

.card-icon {
}

.card-icon {
    svg {
        path {
            fill: #2f54eb;
        }
    }
}

.main-footer {
    display: flex;
    flex: 1;
    max-height: 283px;
    flex-basis: 283px;
    margin-top: 24px;
    margin-bottom: 17px;

    .footer-container {
        padding: 0 0px 6px;
        width: 100%;
        margin-bottom: 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .left {
            display: flex;
            align-items: center;
            border-radius: 2px;
            padding: 6px 15px;
            width: 171px;
            height: 40px;
            font-family: var(--font-family);
            font-weight: var(--font-weight-400);
            font-size: 16px;
            line-height: 130%;
            text-align: center;
            color: var(--primary-light-6);
        }

        .left a {
            font-family: var(--font-family);
            font-weight: var(--font-weight-400);
            font-size: 16px;
            line-height: 130%;
            text-align: center;
            color: var(--primary-light-6);
        }

        .right {
            display: flex;
            flex-direction: column;
            border-radius: 2px;
            width: 240px;
            height: 127px;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);
            background: var(--character-light-primary-inverse);

            .top {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 12px 24px;
                width: 240px;
                height: 71px;

                .download-link {
                    font-family: var(--font-family);
                    font-weight: var(--font-weight-400);
                    font-size: 16px;
                    line-height: 130%;
                    color: var(--primary-light-6);
                }

                .notification {
                    font-family: var(--font-family);
                    font-weight: var(--font-weight-400);
                    font-size: var(--font-size-14);
                    line-height: 130%;
                    color: var(--character-light-secondary-45);
                }
            }

            .bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                width: 240px;
                height: 56px;
                font-family: var(--font-family);
                font-weight: var(--font-weight-400);
                font-size: var(--font-size-14);
                line-height: 130%;
                text-align: center;
                color: var(--character-light-title-85);
                gap: 28px;
                padding-left: 10px;
            }

            .bottom a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 9px;
                font-family: var(--font-family);
                font-weight: var(--font-weight-400);
                font-size: var(--font-size-14);
                line-height: 130%;
                text-align: center;
                color: var(--character-light-title-85);
            }
        }
    }
}

@media screen and (max-width: 1390px) {
    .description-container {
        :global {
            .ant-typography {
                padding-right: 0px;
            }
        }
    }

    .card-title {
        justify-content: flex-start;
    }

    .main-footer {
        max-height: 364px;
        flex-basis: 364px;
    }

    .main-footer.collapsed {
        max-height: 489px;
        flex-basis: 489px;
    }
}

@media screen and (max-width: 800px) {
    .main-container {
        margin-top: 10px;

        .content-container {
            display: block;

            .content-text {
                padding: 16px;
                margin-bottom: 16px;
            }

            .card {
                margin-bottom: 7px;
            }

            .card-title {
                justify-content: center;
            }
        }

        .description-container {
            padding: 16px;
        }
    }

    .main-footer {
        flex-basis: 0px;
        margin-top: 1px;

        .footer-container {
            padding: 0 16px 6px;
            height: max-content;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
        }

        .footer-container .right,
        .footer-container .right {
            width: 100%;
        }

        .footer-container {
            .right {
                align-items: center;

                .top {
                    align-items: center;
                }

                .bottom {
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 39px 0 33px;
                }
            }
        }
    }

    .main-footer.collapsed {
        flex-basis: 0px;
    }
}

@media screen and (max-width: 550px) {
    .main-container {
        .description-container {
            height: auto;
        }

        .content-container {
            .content-text {
                padding: 16px;
                margin-bottom: 16px;
            }

            .card {
                margin-bottom: 7px;
            }

            .card-title {
                justify-content: center;
            }
        }
    }

    .br {
        display: block;
    }
}
