:global {
    .ant-menu-horizontal {
        width: 100%;

        .ant-menu-item::after {
            left: 0;
            right: 0;
        }
    }

    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
        flex-basis: 50%;
        text-align: center;
        padding: 0;
    }

    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after {
        border: 2px solid var(--primary-light-6);
    }

    .ant-menu-horizontal > .ant-menu-item a {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: var(--character-light-title-85);
    }

    .ant-menu-horizontal > .ant-menu-item-selected a {
        color: var(--primary-light-6);
    }

    .ant-menu-horizontal > .ant-menu-item a:hover {
        color: var(--primary-light-6);
    }

    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: var(--primary-light-6);
        border-color: var(--primary-light-6);
    }

    .ant-form {
        width: 100%;

        .ant-form-item {
            margin: 0;
        }
    }

    .ant-input-group-addon:first-child {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: var(--character-light-title-85);
    }

    .ant-form-item-explain {
        font-size: 12px;
    }

    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused,
    .ant-input-password:has(input[type='text']) {
        border: 1px solid var(--primary-light-5);
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }

    .login-form-button {
        margin-bottom: 16px;
        width: 100%;
        height: 40px;
        background: var(--primary-light-6);
    }

    .forgot-form-button {
        height: 24px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        padding: 0;
        color: var(--primary-light-6);
    }

    .google-form-button {
        width: 100%;
        height: 40px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        color: var(--character-light-title-85);
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 24px;
}

.form-container {
    padding: 64px 32px;
}

.form-login-wrapper {
    padding: 0;
}

.form-register-wrapper {
    padding: 0;
}

.auth-form-inner-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 368px;
    margin: 0 54px 8px;
}

.logo {
    margin-bottom: 48px;
    width: 100%;
    text-align: center;
}

.logo img {
    width: 309px;
    height: 76px;
}

.login-input-wrap {
    margin: 24px 0;
}

.register-input-wrap {
    margin: 32px 0;
}

.change-password-wrap {
    width: 368px;
    height: 291px;
    margin: 0 53.5px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;

    .inputs-wrap {
        margin: 32px 0;
    }

    button {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        color: var(--character-light-primary-inverse);
    }
}

@media screen and (max-width: 600px) {
    .logo {
        margin-bottom: 32px;
    }

    .logo img {
        width: 203px;
        height: 50px;
    }

    .auth-form-inner-wrapper {
        width: 300px;
        margin: 0;
    }

    .flex-row {
        height: 18px;
    }

    :global {
        .ant-checkbox + span {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: rgba(0, 0, 0, 0.85);

            .forgot-form-button {
                padding: 0 7px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                text-align: center;
                color: var(--primary-light-6);
            }
        }

        .change-password-wrap {
            max-width: 298px;
            width: auto;
            height: 322px;
            margin: 0;
        }
    }
}
