:global {
    .ant-menu-horizontal {
        width: 100%;

        .ant-menu-item::after {
            left: 0;
            right: 0;
        }
    }

    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
        flex-basis: 50%;
        text-align: center;
        padding: 0;
    }

    .login-form-button {
        width: 100%;
    }
}

.auth-form-inner-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 368px;
    height: 380px;
}

.form-auth {
    width: 100%;
}




