:global {
    .setting-container {
        .ant-btn-text {
            margin-top: 0px;
        }
    }

    .ant-radio-group {
        font-size: unset;
    }
}

.profile-container {
    background: var(--character-light-primary-inverse);
    border-radius: 8px;
    padding: 24px;
    height: 886px;
}
