
.feedbacks-container {

    :global {

        .ant-card {
            min-height: 128px;

            .ant-card-body {
                padding: 16px;
            }

        }

        .ant-card-meta-avatar {
            width: 174px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .ant-card-meta-description {
            word-break: break-all;
        }

    }
}

.feedbacks-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.tools-wrap {
    height: 152px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.welcome-card {
    height: 284px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
