#root {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    justify-content: space-between;
    align-content: center;
}

.sider {
    width: 208px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 64px;
}

.menu {
    height: 216px;
    flex: 1;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #F0F5FF;
}

.inner-wrapper {
    padding: 16px 24px;
}

header {
    display: flex;
    flex-direction: column;
    height: 168px;
}

.header-body {
    display: flex;
    flex-direction: row;
}

.header-left {
    flex: 1;
}

.header-extra {
    width: 129px;
}

.main {
    width: 100%;
    height: 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 253, 253, 0.8) 100%), url("./assets/images/1d3b2bd1dd53a65dace5128315d0bb33.png");

}

body {
    margin: 0;
    display: flex;
    place-items: center;
    height: 100%;
    width: 100%;
}
