.sider {
    width: 208px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 0.3s;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
    z-index: 2;
}

.sider.off {
    width: 64px;

    .logo {
        padding: 44px 0px;
        text-align: center;
    }

    .link-title {
        display: none;
    }

    .sider-nav {
        padding-top: 7px;
    }
}

.sider-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    padding-top: 0px;
    overflow: hidden;
}

.logo {
    width: 100%;
    padding: 44px 29px;
    text-align: left;
}

.logo-small {
    display: inline-block;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    overflow: hidden;
    justify-content: center;
}

.menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 16px;
}

.link-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 16px;
    height: 17px;
}

.link-icon svg {
    path {
        fill: #061178;
    }
}

.link-title {
    height: 18px;
    padding-left: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--character-light-title-85);
}

.logout {
    border-top: 2px solid #F0F0F0;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 12px;
    overflow: hidden;
}

.logout-icon {
    display: flex;
    width: 16px;
    height: 16px;
}

.logout-title {
    height: 18px;
    padding-left: 10px;
    font-size: 14px;
}

.switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -20px;
    top: calc(50% - 33px);
    width: 20px;
    height: 66px;
    cursor: pointer;
}

.switcher .trapezoid {
    filter: drop-shadow(3px 0px 2px rgba(0, 0, 0, 0.15));
}

.switcher-icon {
    position: absolute;
    width: 14px;
    height: 14px;
}

.switcher-mobile {
    display: none;
}

header {
    height: auto;
    background: var(--primary-light-1);
    z-index: 6;

    :global {
        .ant-typography, .ant-breadcrumb ol {
            margin: 0;
        }

        .ant-typography {
            font-family: var(--font-family);
            font-weight: bold;
            font-size: 38px;
            line-height: 129%;
            max-width: 1000px;
            transition: font-size 0.3s;
        }

        .ant-breadcrumb {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: var(--character-light-title-85);
        }
    }
}

.header-body {
    display: flex;
    flex-direction: row;
    padding-top: 14px;
    padding-bottom: 5px;
}

.header-title {
    flex: 1;
}

.header-setting {
    //width: 129px;
    margin: 0 auto;
    padding: 0 15px;
}


.wrap-extra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wrap-extra span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
}

.main {
    width: 100%;
    height: 100%;

    :global {
        .ant-typography {
            letter-spacing: -0.05px;
            margin: 0;
            font-weight: 500;
            display: flex;
        }
    }
}

@media screen and (max-width: 1390px) {

    .main {
        display: flex;
        flex-direction: column;
        margin-top: 13px;
        overflow: hidden;
    }

    .menu-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 20px 16px;
    }

    header {
        :global {
            .ant-typography {
                font-weight: 500;
                font-size: 24px;

            }
        }
    }

    .header-setting {
        .setting-icon {
            display: none;
        }
    }
}

@media screen and (max-width: 800px) {

    .sider {
        width: 106px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        .logo {
            padding: 13px 0px;
            text-align: center;
        }

        .logo img {
            width: 72px;
            height: 18px;
        }

        .logo-small {
            display: none;
        }

        .menu-link {
            justify-content: start;
            padding: 16px 0px;
        }

        .link-icon {
            display: none;
        }

        .link-title {
            padding-left: 8px;
        }

        .switcher {
            display: none;
        }

        .switcher-mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -20px;
            top: 2%;
            width: 32px;
            height: 48px;
            cursor: pointer;
        }

        .logout-icon {
            overflow: hidden;
        }
    }

    .sider.off {
        width: 1px;
    }

    header {
        z-index: 1;

        .header-setting {

            .setting-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--character-light-border);
                border-radius: 100px;
                padding: 4px 10px;
                width: 32px;
                height: 32px;
                box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
                background: var(--character-light-primary-inverse);
            }

            .setting-title {
                display: none;
            }
        }

        :global {
            .ant-typography {
                font-size: 20px;
            }
        }
    }
}
